.profile_header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 450px;
}

.profile_img {
  margin-right: 1rem;
}

.profile_stats {
  display: flex;
  padding: 1rem 0;
}

.profile_stats div {
  margin-right: 1rem;
}

.tag_and_edit {
  display: flex;
  flex-direction: column;
}

.profile_edit_btn {
  background: none;
  border: none;
  background: #ccc;
  padding: 1rem 0;
}
