/* 
  Global Styles
*/
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap");

html,
body {
  background: #14171a;
  color: #14171a;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  font-size: 1.8rem;
  text-decoration: none;
}

/* 
  Utils
*/
.container {
  max-width: 1200px;
  padding: 2.4rem;
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
  }
}
