/* 
  Global Styles
*/
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap");

html,
body {
  background: #14171a;
  color: #14171a;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

label {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

button {
  cursor: pointer;
}

/* 
  Utils
*/
.container {
  max-width: 1200px;
  padding: 2.4rem;
}

.btn {
  background: none;
  border: 0.1rem solid #d46cf9;

  padding: 1.6rem 3rem;
  color: #fff;
  font-weight: 1.8rem;
  font-weight: 700;
  transition: 0.3s;
}

.btn:hover {
  background: #d46cf9;
}
@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
  }
}
